### Apache Spark Basics
-----------

#### Import  Librieates

In [173]:
import findspark
import os
from pyspark.sql  import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import FloatType
from pyspark.sql.functions import col

### Initialize and provide path

In [174]:
findspark.init("C:\\Users\S727953\OneDrive\Software\EGS4.3.4\MySpark\spark")

### Setup Enviroment Variable for Hadoop and Java

In [175]:
os.environ['JAVA_HOME'] ='C:\\Users\S727953\OneDrive\Software\EGS4.3.4\jdk\jdk1.8u121'
os.environ['HADOOP_HOME']  = "C:\\Users\S727953\OneDrive\Software\EGS4.3.4\MySpark\hadoop\bin"

### Check the Spark installed directory

In [176]:
print(findspark.find())

C:\Users\S727953\OneDrive\Software\EGS4.3.4\MySpark\spark

### Create Spark Session and Sprk Context

In [177]:
def createSession():
    spark = SparkSession.builder.master("local").appName("Linear Regression Model").config("spark.executor.memory", "1gb") \
   .getOrCreate()
    sc = spark.sparkContext
    return sc

### Load Spark Context and Read Data Files

In [178]:
sc=createSession()
# Load in the data
rdd=sc.textFile('C:\GIT\POCs\ML\Spark_Tutorials\cal_housing\cal_housing.data')
header=sc.textFile('C:\GIT\POCs\ML\Spark_Tutorials\cal_housing/cal_housing.domain')

In [179]:
rdd.take(10)

['-122.230000,37.880000,41.000000,880.000000,129.000000,322.000000,126.000000,8.325200,452600.000000',
 '-122.220000,37.860000,21.000000,7099.000000,1106.000000,2401.000000,1138.000000,8.301400,358500.000000',
 '-122.240000,37.850000,52.000000,1467.000000,190.000000,496.000000,177.000000,7.257400,352100.000000',
 '-122.250000,37.850000,52.000000,1274.000000,235.000000,558.000000,219.000000,5.643100,341300.000000',
 '-122.250000,37.850000,52.000000,1627.000000,280.000000,565.000000,259.000000,3.846200,342200.000000',
 '-122.250000,37.850000,52.000000,919.000000,213.000000,413.000000,193.000000,4.036800,269700.000000',
 '-122.250000,37.840000,52.000000,2535.000000,489.000000,1094.000000,514.000000,3.659100,299200.000000',
 '-122.250000,37.840000,52.000000,3104.000000,687.000000,1157.000000,647.000000,3.120000,241400.000000',
 '-122.260000,37.840000,42.000000,2555.000000,665.000000,1206.000000,595.000000,2.080400,226700.000000',
 '-122.250000,37.840000,52.000000,3549.000000,707.000000,1551.000000,714.000000,3.691200,261100.000000']

In [180]:
# # Split lines on commas
# rdd = rdd.map(lambda line: line.split(","))

In [181]:
rdd.first()

'-122.230000,37.880000,41.000000,880.000000,129.000000,322.000000,126.000000,8.325200,452600.000000'

In [182]:
rdd.top(2)

['-124.350000,40.540000,52.000000,1820.000000,300.000000,806.000000,270.000000,3.014700,94600.000000',
 '-124.300000,41.840000,17.000000,2677.000000,531.000000,1244.000000,456.000000,3.031300,103600.000000']

In [183]:
# header.collect()

### Transform RDD to DataFrame

In [184]:
df=rdd
df.take(1)

['-122.230000,37.880000,41.000000,880.000000,129.000000,322.000000,126.000000,8.325200,452600.000000']

In [223]:
def Func(lines):
    print('<<>>',lines)
    lines = lines.lower()
    lines = lines.split()
    return lines

rd=rdd.map(Func) 
# rd.take(5)

# print(rd.take(1))

# df=rd.toDF(['longitude', 
#            'latitude',
#            'housingMedianAge',
#            'totalRooms',
#            'totalBedRooms',
#            'population',
#            'households',
#            'medianIncome',
#            'medianHouseValue'])

In [214]:
df.show(10)

+---------+--------+----------------+----------+-------------+----------+----------+------------+----------------+
|longitude|latitude|housingMedianAge|totalRooms|totalBedRooms|population|households|medianIncome|medianHouseValue|
+---------+--------+----------------+----------+-------------+----------+----------+------------+----------------+
|        -|       1|               2|         2|            .|         2|         3|           0|               0|
|        -|       1|               2|         2|            .|         2|         2|           0|               0|
|        -|       1|               2|         2|            .|         2|         4|           0|               0|
|        -|       1|               2|         2|            .|         2|         5|           0|               0|
|        -|       1|               2|         2|            .|         2|         5|           0|               0|
|        -|       1|               2|         2|            .|         2|         5|           0|               0|
|        -|       1|               2|         2|            .|         2|         5|           0|               0|
|        -|       1|               2|         2|            .|         2|         5|           0|               0|
|        -|       1|               2|         2|            .|         2|         6|           0|               0|
|        -|       1|               2|         2|            .|         2|         5|           0|               0|
+---------+--------+----------------+----------+-------------+----------+----------+------------+----------------+
only showing top 10 rows

In [134]:
# df.columns
df.printSchema()

root
 |-- households: string (nullable = true)
 |-- housingMedianAge: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- medianHouseValue: string (nullable = true)
 |-- medianIncome: string (nullable = true)
 |-- population: string (nullable = true)
 |-- totalBedRooms: string (nullable = true)
 |-- totalRooms: string (nullable = true)

In [135]:
df=df.withColumn("longitude",df["longitude"].cast(FloatType())).withColumn('latitude',df['latitude'].cast(FloatType())) .withColumn("housingMedianAge",df["housingMedianAge"].cast(FloatType())).withColumn("totalRooms", df["totalRooms"].cast(FloatType()))  .withColumn("totalBedRooms", df["totalBedRooms"].cast(FloatType())).withColumn("population", df["population"].cast(FloatType()))  .withColumn("households", df["households"].cast(FloatType())).withColumn("medianIncome", df["medianIncome"].cast(FloatType())) .withColumn("medianHouseValue", df["medianHouseValue"].cast(FloatType()))

In [136]:
df.printSchema()

root
 |-- households: float (nullable = true)
 |-- housingMedianAge: float (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- medianHouseValue: float (nullable = true)
 |-- medianIncome: float (nullable = true)
 |-- population: float (nullable = true)
 |-- totalBedRooms: float (nullable = true)
 |-- totalRooms: float (nullable = true)

### Write a User Function to convert the data type of DataFrame columns

In [137]:
def convertColumnTyupe(df,colNames,newType):    
    for colName in colNames:
        print(colName)
        df=df.withColumn(colName, df[colName].cast(newType))
    return df

In [138]:
# Assign all column names to `columns`
colNames =df.columns
newType=FloatType()

# Convert DataFrame columns to FloateType()
df=convertColumnTyupe(df, colNames, newType)

households
housingMedianAge
latitude
longitude
medianHouseValue
medianIncome
population
totalBedRooms
totalRooms

In [139]:
df.printSchema()

root
 |-- households: float (nullable = true)
 |-- housingMedianAge: float (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- medianHouseValue: float (nullable = true)
 |-- medianIncome: float (nullable = true)
 |-- population: float (nullable = true)
 |-- totalBedRooms: float (nullable = true)
 |-- totalRooms: float (nullable = true)

In [140]:
df.select('population','totalRooms').show(5)

+----------+----------+
|population|totalRooms|
+----------+----------+
|       2.0|       2.0|
|       2.0|       2.0|
|       2.0|       2.0|
|       2.0|       2.0|
|       2.0|       2.0|
+----------+----------+
only showing top 5 rows

In [141]:
df.groupBy('housingMedianAge').count().sort('housingMedianAge', ascending=True).show()

+----------------+-----+
|housingMedianAge|count|
+----------------+-----+
|             1.0|12433|
|             2.0| 8207|
+----------------+-----+

In [142]:
df.describe().show()

+-------+-----------------+-------------------+--------+---------+----------------+------------+------------------+-------------+-----------------+
|summary|       households|   housingMedianAge|latitude|longitude|medianHouseValue|medianIncome|        population|totalBedRooms|       totalRooms|
+-------+-----------------+-------------------+--------+---------+----------------+------------+------------------+-------------+-----------------+
|  count|            20640|              20640|   20640|        0|           20640|       20640|             20640|            0|            20640|
|   mean| 4.54312015503876| 1.3976259689922481|     1.0|     null|             0.0|         0.0|3.8197674418604652|         null|5.166036821705426|
| stddev|2.873140433308782|0.48941920984696774|     0.0|     null|             0.0|         0.0| 2.923293251863948|         null| 3.14998088304445|
|    min|              0.0|                1.0|     1.0|     null|             0.0|         0.0|               0.0|         null|              0.0|
|    max|              9.0|                2.0|     1.0|     null|             0.0|         0.0|               9.0|         null|              9.0|
+-------+-----------------+-------------------+--------+---------+----------------+------------+------------------+-------------+-----------------+

### Adjust the values of `medianHouseValue`

In [143]:
df=df.withColumn('medianHouseValue', col('medianHouseValue')/10000)

In [144]:
df.show()

+----------+----------------+--------+---------+----------------+------------+----------+-------------+----------+
|households|housingMedianAge|latitude|longitude|medianHouseValue|medianIncome|population|totalBedRooms|totalRooms|
+----------+----------------+--------+---------+----------------+------------+----------+-------------+----------+
|       3.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       2.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       4.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       5.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       5.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       5.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       5.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       5.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       6.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       5.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       6.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       6.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       6.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       6.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       6.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       6.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       7.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       7.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       6.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
|       7.0|             2.0|     1.0|     null|             0.0|         0.0|       2.0|         null|       2.0|
+----------+----------------+--------+---------+----------------+------------+----------+-------------+----------+
only showing top 20 rows

### Feature Engineering

In [148]:
# Divide `totalRooms` by `households`
roomPerHousehold=df.select(col('totalRooms')/col('households'))

In [149]:
# Divide `population` by `households`
populationPerHousehold=df.select(col('population')/col('households'))

In [150]:
# Divide `totalBedRooms` by `totalRooms`
bedroomsPerHousehold=df.select(col('totalBedRooms')/col('totalRooms'))

In [153]:
# Add the new columns to `df`
df=df.withColumn('roomPerHousehold', col('totalRooms')/col('households')).withColumn("populationPerHousehold", col("population")/col("households")).withColumn("bedroomsPerRoom", col("totalBedRooms")/col("totalRooms"))

In [154]:
df.first()

Row(households=3.0, housingMedianAge=2.0, latitude=1.0, longitude=None, medianHouseValue=0.0, medianIncome=0.0, population=2.0, totalBedRooms=None, totalRooms=2.0, roomPerHousehold=0.6666666666666666, populationPerHousehold=0.6666666666666666, bedroomsPerRoom=None)